extends layout.pug

block content
  section#content
    //- if statement below with each loop NOTE: how color variable is passed to style attr and as text to li tag
    if colors
      ul
        each color in colors
          li(style={color: color}) #{color}
    //- another way to pass a variable 
    h2= text
    if hint
      p
        i Hint: #{hint}
    a(href=`${id}?side=${sideToShow}`)= sideToShowDisplay
    br
    a(href='/cards') Next Card
