doctype html
html(lang="en")
  head
    title Flash Cards
  body
    header
      h1 Flash Cards
      if userName
        h2 Welcome, #{userName}!
        form(action="/goodbye" method="post")
          button(type="submit") Goodbye!
    block content
    footer
      p An app to help you study.
